
<div class="row">
<div class="col-sm-4">
  <img src="images/play.jpg" width="30px">My Application</div>
<div class="col-sm-4">
  <input type="text" placeholder="Search" name="search">
  <button type="submit">Search</button>
</div>
<div class="col-sm-4">
  <a href="#">new Product</a>
</div>
</div>



<div class="container">

<table style="width:100%">

  <tr>
    <td>
      <img src="images/AngularJS.jpg" width="100px">
    </td>
    <td>
      <li>Implement the best practices</li>
      <li>using test-driven development</li>
    </td>
    <td>
      <img src="images/masterreact.jpg" width="100px">
    </td>
    <td>
      <li>frontend development skills to build impressive iOS</li>
      <li>Android applications with React Native</li>
    </td>
  </tr>
  <tr>
    <td>
      <img src="images/dotnet.jpg" width="100px">
    </td>
    <td>
      <li>design patterns enables developers</li>
      <li>promoting code reuse and making design</li>
    </td>
    <td>
      <img src="images/jira.jpg" width="100px">
    </td>
    <td>
      <li>Develop and customize plugins</li>
      <li>program workflows</li>
    </td>
  </tr>
</table>
</div>