
<div>
<h1 style="text-align: center;">Skill</h1>
<div>
  <ul class="b">
    <li>
      <h3>Javascript</h3>
    </li>
    <li>
      <h3>Html</h3>
    </li>
    <li>
      <h3>Nodejs</h3>
    </li>
    <li>
      <h3>Node.Js</h3>
    </li>
    <li>
      <h3>Koa</h3>
    </li>
    <li>
      <h3>Cloud Deployment</h3>
    </li>
    <li>
      <h3>Alglorithm :Data Structure</h3>
    </li>
  </ul>
</div>
</div>

