
/*
@media only screen and (max-width: 600px) {
    
    .flex{
        display: flex;
        align-items: center;
    }
}
*/

@media (max-width:992px) {
    .col-6,.col-md-2{
        margin-top: 40px;
    }
}