
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"><a href="/about">About Me</a></li>
      <li><a href="/skill">skill</a></li>
      <li><a href="/contact">contact</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
    </ul>
  </div>
</nav>